<a href="https://colab.research.google.com/github/warwickdatascience/beginners-python/blob/master/session_two/session_two_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>Spotted a mistake? Report it <a href="https://github.com/warwickdatascience/beginners-python/issues/new">here</a></center>

# Beginner's Pythonâ€”Session Two Homework Exercises

## User Input

Ask the user for the year, month, and day and use these to print out the date in the following format:

`Your date is 1 January, 1970`

(Hint: if you want to get the comma looking exactly right, you might have to use string addition)

In [2]:
y=input("year? ")
m=input("month? ")
d=input("day? ")
print("Your date is",d,m+",",y)

year? 1999
month? jan
day? 3
Your date is 3 jan, 1999

Ask the user to input a decimal number (remember you'll need to use `float()` to convert it from a string). Multiply this $5$, subtract $1.2$ and print the result

In [3]:
n=input("Decimal no.? ")
print (5*float(n)-1.2)

Decimal no.? 2.4
10.8

## Variable Types

What happens when you pass a decimal number (such as $3.14$) to `int()`?

In [10]:
int(3.99999999)

3

The `min()` and `max()` functions are versatile. As well being able to input a list of numbers, you are able to pass multiple inputs to these functions, separated by commas, provided they are all of the same type. For example:

In [11]:
min(2, 5, 1)

1

The versitility doesn't stop there. What happens if we put in two strings as the inputs to either `min()` or `max()`. Experiment and try to find out.

(Hint: Try comparing each pair of `Cat`, `Dog`, and `Donkey`)

In [15]:
print(min("Cat","Dog"))
print(min("Dog","Donkey"))
max("Cat","Donkey")

Cat
Dog

'Donkey'

Say you wanted to add the string `"Time is 12:"` to the integer `30` to get the string `"Time is 12:30"`. How can you use type conversion to achieve this?

In [17]:
"Time is 12:"+str(30)

'Timee is 12:30'

## Sum, Min, Max and Length

Your teammates are aged 20, 33, 45, 57, and 62. Use `input()` to get Python to ask you your age and then make a list containing the 5 ages above and your age

In [20]:
a=input("Age? ")
list=[20, 33, 45, 57,62,int(a)]
print(list)

Age? 45
[20, 33, 45, 57, 62, 45]

Find the average age of your team and print it

(Hint: The average age is the `sum` of all ages divided by the `len`gth of your list of ages)

In [21]:
print(sum(list)/len(list))

43.666666666666664

Run the following lines of code to create two lists containing the scores of 30 students in each class

In [24]:
from random import randrange, seed
seed(1729)
class_A_scores = [randrange(101) for __ in range(30)]
class_B_scores = [randrange(101) for __ in range(30)]

Use `max()` to find which class contained the highest scoring student

In [25]:
print (max(class_A_scores))
print (max(class_B_scores))

97
92

As mentioned above, you can find the minimum or maximum of a collection of numbers without having to first put them in a list. Use this approach to find the minumum and maximum of the numbers 4, 5, 2, and 8

In [26]:
print(max(4, 5, 2, 8))
print(min(4, 5, 2, 8))

8
2

Ask the user for two strings and print the length of the shortest

In [27]:
st1=input("1st string? ")
st2=input("2nd string? ")
print(min(len(st1),len(st2)))

1st string? a
2nd string? aa
1